@import "theme";

html, body {
  padding: 0;
  margin: 0;
  background: @colorBg;
}

#root {
  padding: 24px;
}

// 侧边栏
.ant-layout-sider-children {
  background-image: url("./assets/aside.png");

  // Logo
  #logo {
    a > h1 {
      color: @colorFont;
    }
  }

  // 菜单字体
  .ant-pro-base-menu-inline-item-text {
    color: @colorFont;
  }
}

// 页面

//页头
.ant-page-header {
  border: solid 1px @colorBorder;
  border-radius: 6px;
}

//内容
.ant-pro-page-container-children-container {
  padding: 0;
}

.anticon {
  color: @colorFont;
}


// --------------------- 链接 ---------------------
a {
  color: @colorPrimary;

  &:hover {
    color: @colorPrimary-08;
  }
}
// --------------------- 链接结束 ---------------------


// --------------------- 表单颜色 ---------------------
input.ant-checkbox-input {
  &:checked + .ant-checkbox-inner {
    background-color: @colorPrimary;
    border-color: @colorPrimary;
  }

}

input.ant-checkbox-input.ant-checkbox-inner {
  &:hover {
    border-color: @colorPrimary;
  }
}

:where(.css-dev-only-do-not-override-1okl62o).ant-checkbox .ant-checkbox-input:focus-visible+.ant-checkbox-inner {
  outline: none;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: @colorPrimary;
  border-color: @colorPrimary;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-checkbox-indeterminate .ant-checkbox-inner:after {
     background-color: @colorPrimary;
}

.ant-checkbox-wrapper.css-dev-only-do-not-override-1okl62o:hover {
    .ant-checkbox-inner {
        border-color: @colorPrimary;
    }
}

:where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected > .ant-table-cell {
  background: @colorPrimary-01;
}

.ant-btn.css-dev-only-do-not-override-1okl62o.ant-btn-primary {
  background-color: @colorPrimary;
  border-color: @colorPrimary;

  &:hover {
    background-color: @colorPrimary-08;
    border-color: @colorPrimary-08;
  }
}

:where(.css-dev-only-do-not-override-2kewrt).ant-pro-query-filter-collapse-button {
  color: @colorPrimary;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined:focus-within {
  border-color: @colorPrimary;
  box-shadow: 0 0 0 2px @colorPrimary-02;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined:hover{
  //虚线描边
  border-color: @colorPrimary;
  box-shadow: 0 0 0 1px @colorPrimary-02;
  border-style: dashed;
  border-width: 1px;
  border-radius: 2px;
}

// --------------------- 表单结束 ---------------------

