@colorSuccess: #97c11f;
@colorPrimary: #ff8383;
@colorWarning: #e16b1e;
@colorError: #9c0000;
@colorInfo: #ff8383;

@colorBg: rgba(255,255,255, 0.08);
@colorBgLayout: rgba(255,255,255, 0.38);
@colorBgCard: rgba(255,255,255, 0.88);

@colorFont: white;
@colorBorder: @colorPrimary;